// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h1 {
  color:rgb(148, 195, 201);

  a, a:visited, a:active{
  color: rgb(186, 225, 229);
  }
  a:hover {
  color: rgb(191, 164, 101);
  text-decoration:none;
  }
}

.entry-content {
  h2{
    color:rgb(191, 164, 101);
  }

  p, li {
  color: rgba(102, 102, 102, 1); 
    a, a:visited, a:active{
      color:rgb(148, 195, 201);
      text-decoration:none;
    }
    a:hover{
      color:rgb(191, 164, 101);
      text-decoration:none;
    }
  }

  ul{
  margin-left:2em;
  }
}


.sidebar{
  section{
      h1{
        color: rgba(191, 164, 101,1);
      }
    }
}

.entry-date{
  color: rgba(191, 164, 101,1);  
}

hgroup{
  text-align:center;
}

footer, footer p{
  text-align:center;
}